@import url("https://fonts.googleapis.com/css?family=Mukta:700");
html, body {
    height: 80%;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.title-jumbo {
    /*font-family: 'Homemade Apple', cursive;*/
    font-family: 'Permanent Marker', cursive;
    color: #373737;
    font-size: 70px;
}

/* Button Styles */

.my_button {
    display: inline-flex;
    height: 80px;
    width: 200px;
    border: 2px solid #BFC0C0;
    margin: 20px 20px 20px 20px;
    color: #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.my_a {
    color: #BFC0C0;
    text-decoration: none;
    letter-spacing: 1px;
}


.button-2 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.button-2 a {
    position: relative;
    transition: all .35s ease-Out;
}

.slide {
    width: 100%;
    height: 100%;
    left: -200px;
    background: #BFC0C0;
    position: absolute;
    transition: all .35s ease-Out;
    bottom: 0;
}

.button-2:hover .slide {
    left: 0;
}

.button-2:hover .my_a {
    color: #2D3142;
}
